<h1>Bem-vindo, <%= @usuario.nome %>!</h1>

<p>
    Você está logado na Loja do Loja.
    Utilize o menu superior para navegar pelo sistema.
</p>

<hr>

<h3>Resuminho</h3>

<p>
    Produtos cadastrados: <%= Produto.where(vendedor_id: @usuario.id).count %>
</p>

<p>
    Compras realizadas: <%= Venda.where(comprador_id: @usuario.id).count %>
</p>

<p>
    Vendas recebidas: <%= Venda.where(vendedor_id: @usuario.id).count %>
</p>